name: Check Pull Request and Build Artifacts
on:
  workflow_dispatch:

  # push:
  #   branches:
  #     - main
  #   paths-ignore:
  #     - 'docs/**'
  #     - '.vscode/**'
  #     - '.github/workflows/**'
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      id-token: write
      contents: read
      actions: read
    strategy:
      matrix:
        # NOTE: 必要に応じて node,pnpmのバージョンを変更してください
        node-version: ['23.x']
        pnpm-version: ['9.15.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup pnpm v${{ matrix.pnpm-version }}
        uses: pnpm/action-setup@v4.1.0
        with:
          version: ${{ matrix.pnpm-version }}
      - name: Install Dependencies for Linter
        run: pnpm i
      # - name: Lint and Format,Spell
      #   run: pnpm lint:all && pnpm spell
      # - name: Nuxt TypeCheck
      #   run: pnpm typecheck
      - name: Build Application
        run: pnpm build
      - name: Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: 4.42.0
          workingDirectory: ./dist
          command: 'deploy --config wrangler.jsonc'
